{% extends 'main/layout.html' %}

{% block title %}Создать новость{% endblock %}

{% block navbar %}
    <a class="nav-link" href="/news">Новости</a>
{% endblock %}

{% block content %}
    <h1 class="text">ну создавай че</h1>
    <form method="post">
        <label>
            <input type="text" placeholder="Заголовок новости" class="form-control"><br>
            <input type="text" placeholder="Основной текст" class="form-control"><br>
            <input type="date" class="form-control"><br>
            <input type="time" class="form-control"><br>
        </label>
    </form>
{% endblock %}