{% extends 'main/layout.html' %}

{% block title %}Создать новость{% endblock %}

{% block navbar %}
    <a class="nav-link" href="/news">Новости</a>
{% endblock %}

{% block content %}
    <h1 class="text">ну создавай че</h1>
    <form method="post">
        <div class="form">
            {% csrf_token %}
            {{ form.header }}<br>
            {{ form.body }}<br>
            {{ form.date }}<br>
            {{ form.author }}<br>
            <span>{{ error }}</span>
            <button class="btn-create" type="submit">Создать новость</button>
        </div>
    </form>
{% endblock %}