{% extends 'main/layout.html' %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
    <h1 class="text">меняй</h1>
    <div class="pch-form-account">
        <form method="POST">
            {% csrf_token %}
            <span class="form-account-control">{{ error }}</span>
            <p class="form-control-text">Старый пароль: <br>{{ form.old_password }}<br></p>
            <ul class="pch-form">
                <li>Пароль не должен быть слишком похож на другую вашу личную информацию</li>
                <li>Ваш пароль должен содержать как минимум 8 символов</li>
                <li>Пароль не должен быть слишком простым и распространенным</li>
                <li>Пароль не может состоять только из цифр</li>
            </ul>
            <p class="form-control-text">Новый пароль: <br>{{ form.new_password1 }}<br></p>
            <p class="form-control-text">Повторите пароль: <br>{{ form.new_password2 }}<br></p>
            <button style="width: 150px; margin: 5px auto; height: 28px" class="form-account-control btn-account-create" type="submit">Сменить пароль</button>
        </form>
    </div>
{% endblock %}