{% extends 'main/layout.html' %}

{% block title %}Ваш профиль{% endblock %}

{% block content %}
    <h1 class="text">срофиль</h1>
    {% if user.is_authenticated %}
        <h1>Привет, {{ user.username }}</h1>
        <a href="{% url 'logout' %}">Выйти из аккаунта</a>
    {% else %}
        <p class="text">
            Вы не вошли в аккаунт!!!
            <a class="text" style="color: #b2b2b2" href="{% url 'login' %}">Войдите</a>
            или
            <a class="text" style="color: #b2b2b2" href="{% url 'register' %}">Создайте новый</a>
        </p>
    {% endif %}

{% endblock %}