{% extends 'main/layout.html' %}

{% block title %}Настройки аккаунта{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="text">меняй аву</h1>
        <form method="POST" action="" enctype="multipart/form-data">
            <div class="form-account" style="display: block">
                {% csrf_token %}
                <h2 class="text">Сменить аватар</h2>
                <div style="display: none">
                    {{ form.username }}
                    {{ form.email }}
                </div>
                <p style="margin: 0 auto"><img src="{{ player.profile_pic.url }}" alt="а где" style="height: 250px; width: 250px; object-fit: cover; border-radius: 90px; margin: 10px 0 0 120px"></p>
                <p class="form-account-control"
                   style="margin: 20px 20px 20px 40px; line-height: 35px">{{ form.profile_pic }}</p>
                <button class="btn-account-create" style="margin: 80px auto 10px auto" type="submit">Сменить аватар
                </button>
                <span>{{ error }}</span>
            </div>
        </form>
    {% else %}
        <p class="text">
            Вы не вошли в аккаунт!!!
            <a class="text" style="color: #b2b2b2" href="{% url 'login' %}">Войдите</a>
            или
            <a class="text" style="color: #b2b2b2" href="{% url 'register' %}">Создайте новый</a>
        </p>
    {% endif %}
{% endblock %}