{% extends 'main/layout.html' %}

{% block title %}Настройки аккаунта{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1 class="text">настраивайся</h1>
        <p class="text"><a class="text" style="color: #b2b2b2" href="{% url 'password_change' %}">Сменить пароль</a></p>
        <p class="text"><a class="text" style="color: #b2b2b2" href="{% url 'avatar_change' %}">Сменить аватар</a></p>
    {% else %}
        <p class="text">
            Вы не вошли в аккаунт!!!
            <a class="text" style="color: #b2b2b2" href="{% url 'login' %}">Войдите</a>
            или
            <a class="text" style="color: #b2b2b2" href="{% url 'register' %}">Создайте новый</a>
        </p>
    {% endif %}
{% endblock %}