{% extends 'main/layout.html' %}
{% load static %}

{% block title %}AstrumMine{% endblock %}

{% block content %}

    <div class="all">
        <img src="{% static 'main/img/emoji.png' %}" alt="аааааа(((" height="500px" style="border-radius: 8px">
        <video autoplay loop muted height="500px" style="margin: 0 5px; border-radius: 8px">
            <source src="https://images-ext-2.discordapp.net/external/gOwYj40mBwn2Q0tJvP8iVlt7i30pTyvnSDwxlsb_dRk/https/media.tenor.com/0d3BCMOGJSgAAAPo/cat-meow.mp4">
        </video>

        <div class="news">
            <h1>Последние новости</h1>

            {% for element in news|list_cut_three %}
                <div class="new">
                    <h2 class="news-title">{{ element.header }}</h2>
                    <h5>{{ element.body }}</h5>
                    <h6>{{ element.author }} {{ element.date }}</h6>
                </div>
            {% endfor %}
            <h3>...</h3>

            <a href="/news_all" class="nav-link">Все новости</a>
        </div>
    </div>

{% endblock %}