{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="трш">
    <meta name="keywords" content="пук пук">

    <link rel="stylesheet" href="#" id="theme-link">
    <link rel="stylesheet" href="{% static 'main/css/global.css' %}">

    <link rel="icon" type="image/png" href="{% static 'main/img/base/emoji.png' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="wrapper">
    <nav class="nav-body">
        <button onclick="btn()" class="theme-button">Сменить тему</button>
        {% if user.is_authenticated %}
            <a class="nav-account" href="{% url 'account_home' %}">
                <div class="account">
                    <img style="border-radius: 15px; background-position: center center; background-repeat: no-repeat; width: 40px; height: 40px; min-height: 100%; overflow: hidden; object-position: center; object-fit: cover;"
                         src="{{ player.profile_pic.url }}" alt="где котик((">
                    <p style="padding: 3px 0 0 15px">{{ user.username }}</p>
                </div>
            </a>
        {% else %}
            <a class="nav-account" href="{% url 'login' %}">
                <div class="account">
                    <p style="padding: 3.75px 0 0 15px">Войдите</p>
                </div>
            </a>
        {% endif %}
        <ul class="navbar">
            <a class="nav-link" href="{% url 'home' %}">Главная</a>
            <a class="nav-link" href="{% url 'download' %}">Скачать</a>
            <a class="nav-link" href="{% url 'shop' %}">Магазин</a>
            <a class="nav-link" href="{% url 'about' %}">О нас</a>
            {% if user.is_staff %}
                <a class="nav-link" href="/admin">Админка</a>
            {% endif %}
            {% block navbar %}
            {% endblock %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="foot_body">
        © копирайт к1риешка
    </footer>
</div>
<script type="text/javascript" src="{% static 'main/js/themeChanger.js' %}"></script>

</body>
</html>