{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="трш">
    <meta name="keywords" content="пук пук">

    <link rel="stylesheet" href="#" id="theme-link">
    <link rel="stylesheet" href="{% static 'main/css/global.css' %}">

    <link rel="icon" type="image/png" href="{% static 'main/img/emoji.png' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

<div class="wrapper">
    <nav class="nav-body">
        <button onclick="btn()" class="theme-button">Сменить тему</button>

        <a class="nav-account" href="/account">
            <div class="account">
                <img style="border-radius: 15px" src="{% static 'main/img/cute_cat.png' %}" alt="где котик(("
                     height="35px" width="35px">
                <p style="padding: 0 0 0 15px">Аккаунт</p>
            </div>
        </a>

        <ul class="navbar">
            <a class="nav-link" href="/">Главная</a>
            <a class="nav-link" href="/download">Скачать</a>
            <a class="nav-link" href="/shop">Магазин</a>
            <a class="nav-link" href="/about">О нас</a>
            <a class="nav-link" href="/admin">Админка</a>
            {% block navbar %}
            {% endblock %}
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="foot_body">
        © копирайт к1риешка
    </footer>
</div>
<script type="text/javascript" src="{% static 'main/js/themeChanger.js' %}"></script>

</body>
</html>