body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
    background: #373737;
}

.text {
    text-align: center;
    color: #f4f4f4;
}

nav {
    box-sizing: content-box;
}

.nav-body {
    background: #ab8389;
    background-size: 100% 100%;
    box-sizing: content-box;
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    list-style-position: inside;
    font: 18px 'Roboto', sans-serif;
    padding: 10px;
}

.navbar li {
    display: inline-block;
    padding: 10px 30px;
    margin: 0;
}

.navbar li:hover {
    background: #88686d;
    border-radius: 8px;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #b2b2b2;
}

.navbar {
    margin: 0 0 10px 0;
}

.theme-button {
    font: 18px 'Roboto', sans-serif;
    color: #b2b2b2;
    position: absolute;
    right: 0;
    display: inline-block;
    padding: 10px 25px;
    cursor: pointer;
    background: #866064;
    border-radius: 8px 0 0 8px;
    border: 0;
}

.theme-button:hover {
    color: white;
    background: #9d7176;
    border-radius: 8px 0 0 8px;
}

.news {
    background: #866064;
    color: #f4f4f4;
    width: 500px;
    border-radius: 8px;
    margin: 0 0 0 10px;
    padding: 0 0 6px 0;
    display: inline-block;
    height: 100%;
    text-align: center;
}

.new {
    background: #d3adb1;
    color: #111111;
    border-radius: 8px;
    text-align: justify;
    text-align-last: center;
    margin: 8px;
    padding: 1px 10px;
}

.news-title {
    text-align: center;
}

.all {
    display: inline-flex;
}

.news-all {
    background: #866064;
    color: #f4f4f4;
    width: 800px;
    border-radius: 8px;
    margin: 0 auto;
    padding: 1px;
    text-align: center;
}

.news a {
    color: #f4f4f4;
    text-decoration: none;
    margin: 5px;
    padding: 5px;
}