/* ____ ___ _  _ ____ ____ */
/* |  |  |  |__| |___ |__/ */
/* |__|  |  |  | |___ |  \ */

body, html {
    color: white;
    background: #373737;
}

.text {
    color: #f4f4f4;
}

.foot_body {
    background: #866064;
    color: #e8dedf;
}

/* _  _ ____ _  _ ___  ____ ____ */
/* |\ | |__| |  | |__] |__| |__/ */
/* | \| |  |  \/  |__] |  | |  \ */

.nav-body {
    background: #ab8389;
}

nav a {
    color: white;
}

.nav-link:hover {
    background: #88686d;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: #b2b2b2;
}

.theme-button {
    color: #b2b2b2;
    background: #866064;
}

.theme-button:hover {
    color: white;
    background: #9d7176;
}

.account:hover {
    background: #88686d;
    color: #b2b2b2;
}

/* _  _ ____ _ _ _ ____ */
/* |\ | |___ | | | [__  */
/* | \| |___ |_|_| ___] */

.news {
    background: #866064;
    color: #f4f4f4;
}

.new {
    background: #d3adb1;
    color: #111111;
}

.news-all {
    background: #866064;
    color: #f4f4f4;
}

.news a {
    color: #f4f4f4;
}

.form {
    background: #866064;
}

/* ____ ____ ____ ____ _  _ _  _ ___ */
/* |__| |    |    |  | |  | |\ |  |  */
/* |  | |___ |___ |__| |__| | \|  |  */

.form-account {
    background: #866064;
}

.form-account-login {
    background: #866064;
}