/* ____ ___ _  _ ____ ____ */
/* |  |  |  |__| |___ |__/ */
/* |__|  |  |  | |___ |  \ */

body, html {
    background: #f4f4f4;
}

.foot_body {
    background: #d3adb1;
    color: #373737;
}

/* _  _ ____ _  _ ___  ____ ____ */
/* |\ | |__| |  | |__] |__| |__/ */
/* | \| |  |  \/  |__] |  | |  \ */

.nav-body {
    background: pink;
}

.nav-link:hover {
    background: #e3abb5;
    color: #fff;
}

.navbar a {
    color: #111111;
}

.navbar a:hover {
    color: #F4F4F4;
}

.theme-button {
    color: #111111;
    background: #eea5ad;
}

.theme-button:hover {
    color: #f4f4f4;
    background: #d28b94;
}
.account {
    color: #111111;
}
.account:hover {
    background: #e3abb5;
    color: #f4f4f4;
}

/* _  _ ____ _ _ _ ____ */
/* |\ | |___ | | | [__  */
/* | \| |___ |_|_| ___] */

.news {
    background: #EEA5AD;
    color: #111111;
}

.new {
    background: #e8dedf;
    color: #111111;
}

.news-all {
    background: #EEA5AD;
    color: #111111;
}

.news a {
    color: #111111;
}

.form {
    background: #EEA5AD;
}

/* ____ ____ ____ ____ _  _ _  _ ___ */
/* |__| |    |    |  | |  | |\ |  |  */
/* |  | |___ |___ |__| |__| | \|  |  */

.form-account {
    background: #EEA5AD;
}

.form-account-login {
    background: #EEA5AD;
}

.pch-form-account {
    background: #EEA5AD;
}